@model AppFotos.Models.Categorias
@* Esta view está a manipular um único objecto do tipo Categorias *@
@{
    ViewData["Title"] = "Criar Categoria";
}

<h1>Adicionar categorias</h1>

<h4>Categorias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*  *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            &nbsp;<br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regressar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
