@model AppFotos.Models.Fotografias

@{
    ViewData["Title"] = "Adicionar Fotogrfafia";
}

<h1>Adicionar fotografia</h1>

<h4>Fotografias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ficheiro" class="control-label"></label>
                <input asp-for="Ficheiro" class="form-control" />
                <span asp-validation-for="Ficheiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            @* Para processar o Preço no novo atributo PrecoAux*@
            <div class="form-group">
                <label asp-for="PrecoAux" class="control-label"></label>
                <input asp-for="PrecoAux" class="form-control" />
                <span asp-validation-for="PrecoAux" class="text-danger"></span>
            </div>
            @* Estes objectos são as dropdowns da escolha da Categoria e utilizador *@
            <div class="form-group">
                <label asp-for="CategoriaFK" class="control-label"></label>
                <select asp-for="CategoriaFK" class ="form-control" asp-items="ViewBag.CategoriaFK"><option value="0">Escolha uma Categoria</option></select>
            </div>
            <div class="form-group">
                <label asp-for="DonoFK" class="control-label"></label>
                <select asp-for="DonoFK" class="form-control" asp-items="ViewBag.DonoFK"><option value="0">Escolha uma Utilizador</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
